/* src/renderer/styles/title.css */
.titleScreen {
    display: block;
}

#title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    font-size: 80px;
}

#pressEnterKey {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;
    font-size: 30px;
}

#right {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    font-size: 10px;
}

.visible {
    opacity: 1;
}